@import '../../app/globals.scss';

.content-navigator {
    width: 200px;
    padding: 20px;
    background-color: $primary-dark;
    color: $text-light;
}

.button-list {
    list-style-type: none;
}

.button-list-item {
    margin: 10px;
}